extends ../layout

block content
    input(type='button', value='Home', onclick='parent.location="/"')
    h1.
        #{title}

    p: form(method='link')
           input(type='button', value='New User', onclick='parent.location="/users/new"')

    table
        thead
            tr(align='left')
                th ID
                th Name
                th Username
                th Email
                th Date Joined
                th Actions
        tbody
            - each user, i in users
                tr
                    td: = user._id
                    td: = user.name
                    td: = user.username
                    td: = user.email
                    td: = user.dateJoined
                    td
                        form(action='/users/#{user._id}/edit', method='post', enctype='application/x-www-form-urlencoded')
                            input(type='button', value='Show', onclick='parent.location="/users/#{user._id}"')
                            input(type='button', value='Edit', onclick='parent.location="/users/#{user._id}/edit"')
                            input(type='hidden', value='DELETE', name='_method')
                            button(type='submit').
                                    Delete